@import "../../../data/styles.css";

/* Nav container styles */
.nav-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #191e28;
  height: 80px;
}

/* Background of the navbar */
.nav-background {
  width: 380px;
  height: 40px;
  padding-left: 0%;
  padding-right: 0%;
}

/* Navbar list */
.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin-left: -16px;
  margin-right: 20px;
  margin-top: 11px;
}

/* Navbar item styles */
.nav-item {
  font-weight: bold;
  font-size: 80%;
}

/* Active link color */
.nav-item.active .nav-link {
  color: var(--link-color) !important;
}

/* Link styles */
.nav-item a,
.nav-item .nav-link {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

/* Link hover styles */
.nav-item a:hover,
.nav-item .nav-link:hover {
  color: var(--link-color);
}

/* Ensure enough padding for sections below the navbar */
.page-content {
  padding-top: 60px; /* Adjust this value based on your navbar height */

}

/* Responsive styling for mobile view */
@media (max-width: 600px) {
  .navbar {
    margin-left: 25%;
    margin-right: 25%;
    width: 80%;
    font-size: 80%;
  }

  .nav-background {
    width: 80%;
    height: 40px;
  }

  .nav-item {
    font-weight: bold;
  }
}
