:root {
	/* ------- colors ------- */
	--primary-color: #ffffff;
	--secondary-color: #ffffff;
	--tertiary-color: #ffffff;
	--quaternary-color: #ffffff;
	--link-color: #14b8a6;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
